body {
    font: normal x-small verdana,arial,helvetica,sans-serif;
    background-color: white;
    z-index: 1;
    min-height: 100%;
    display: block;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td, iframe {
    margin: 0;
    padding: 0;
}

.header {
    border-bottom: 1px solid #5f99cf;
    position: relative;
    background-color: #cee3f8;
    z-index: 99;
}
.northcoders-image {
    display: inline-block;
    position: relative;
    height: 20px;
    width: 50px;
    margin: 5px;
    vertical-align: bottom;
    padding-bottom: 7px;
}

.news-text {
  color: #C31432;
  font-size: 1em;
  position: absolute;
  bottom: 0;
  margin-left: 4px;
}

.tabmenu {
  display: inline-block;
}

.tabmenu li {
  display: inline;
  font-weight: bold;
  margin: 0px 3px;
}

.tabmenu li a {
    padding: 2px 6px 0 6px;
    background-color: #eff7ff;
}
a {
    text-decoration: none;
    color: #369;
}

.link {
    margin: 0;
    margin-bottom: 12px;
    padding-left: 3px;
    margin-top: 12px; 
}
.link .rank {
    float: left;
    margin-top: 15px;
    color: #c6c6c6;
    font-family: arial;
    font-size: medium;
    text-align: right;
}
.article-body {
    width: 90%;
    font-size: 1.4em;
    margin-top: 5px;
    line-height: 20px;
}
.article-overall {
    margin: 10px 20px 10px 10px;
    border: 1px solid #f2f2f2;
    background: #fafafa;
    padding: 4px 2px;
    width: 87%;
}
.comment-overall {
    margin: 0px 20px 10px 5px;
    border: 1px solid #f2f2f2;
    background: #fafafa;
    padding: 4px 2px;
    line-height: 15px;
    position: relative;
}
.comment-tagline {
    color: #888;
    font-size: 0.9em;
}

.rank {
    overflow: hidden;
}
.arrow {
    margin: 2px 0px 0px 0px;
    width: 100%;
    height: 14px;
    display: block;
    cursor: pointer;
    width: 15px;
    margin-left: auto;
    margin-right: auto;
    outline: none;
    color: #c6c6c6;
}

.link .midcol {
    font-weight: bold;
    font-size: small;
}

.midcol {
    float: left;
    margin-right: 7px;
    margin-left: 7px;
    background: transparent;
    overflow: hidden;
}
.link .score {
    text-align: center;
    color: #c6c6c6;
}

.entry {
    overflow: hidden;
    margin-left: 3px;
    opacity: 1;
}

.link .title {
    font-size: 1.4em;
    font-weight: normal;
    margin-bottom: 1px;
}

.thing .title {
    color: #0000ff;
}


.thing .title {
    outline: none;
    margin-right: .4em;
    padding: 0px;
    overflow: hidden;
    unicode-bidi: isolate;
}

.tagline {
    color: #888;
    font-size: .9em;
}

.link .flat-list {
    display: block;
    padding: 1px 0;
}

.flat-list {
    list-style-type: none;
    display: inline;
}
.entry .buttons li {
    display: inline-block;
    border: none;
    padding-right: 4px;
    line-height: 1.6em;
}
.flat-list li, .flat-list form {
    display: inline;
    white-space: nowrap;
}

.entry .buttons li+li {
    padding-left: 4px;
}
.comments {
    color: #888;
    font-weight: bold;
    padding: 0 1px;
}
.share {
    color: #888;
    font-weight: bold;
    padding: 0 1px;
}

.clearleft {
    clear: left;
    height: 0px;
}
.content {
    z-index: 1;
    margin: 7px 5px 0px 5px;
    width: 90%;
}

.sitetable {
    list-style-type: none;
}

#sr-header-area {
    background-color: #f0f0f0;
    white-space: nowrap;
    text-transform: uppercase;
    border-bottom: 1px solid gray;
    font-size: 90%;
    height: 18px;
    line-height: 18px;
}
#sr-header-area .width-clip {
    position: absolute;
    left: 0;
    right: 0;
}

.mySubreddits {
    float: left;
    padding-left: 5px;
    padding-right: 5px;
}

#sr-header-area .sr-list {
    overflow: hidden;
}

.separator {
    color: gray;
    margin: 0px .7ex 0px .7ex;
    cursor: default;
}

.flat-list li, .flat-list form {
    display: inline;
    white-space: nowrap;
    padding: 3px;
}
.selected, .choice.primary {
    font-weight: bold;
}

.header-bottom-right {
    position: absolute;
    right: 0px;
    bottom: 0px;
    background-color: #EFF7FF;
    padding: 4px;
    line-height: 12px;
    border-top-left-radius: 7px;
}

.comments-are-here-text {
    margin-left: 1.2em;
}



.article-mainpage {
    margin: 10px 20px 10px 5px;
    border: 1px solid #f2f2f2;
    background: #fafafa;
    padding: 4px 2px;
}

.commentBox {
    height: 10em;
    margin: 10px;
    padding: 2px;
    margin-bottom: 50px;
}

.text-area {
    height: 100%;
    width: 98%;
    margin: 0 auto;
    background-color: #fafafa;
    border: 1px solid #f2f2f2;
}

.commentForm {
    height: 100%;
    width: 100%;
}

.addCommentButton {
    float: right;
    width: 10%;
    height: 3em;
    background-color: #fafafa;
    font: normal x-small verdana,arial,helvetica,sans-serif;
    margin-right: 0.7em;
    border: 1px solid #f2f2f2;

}

.delete-button {
    display: inline;
    margin-left: 1em;
    right: 0px;
    bottom: 2px;
    position: absolute;
}

.comment-body {
    font-size: 1.1em;
}